@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap');

    @media (min-width: 768px) {
    hr{
        width: 46%;
    }

    .min-h3-460 {
        min-height: 460px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    hr{
        width: 100%;
    }

    .min-h3-460 {
         min-height: 350px !important;
    }

    .position-absolute {
        width: 100%;
        margin-top: 20px;
        position: unset !important;
    }
}

nav {
    font-family: 'Bebas Neue', cursive;
    height: 80px;
}

.bg-red {
    background-color: crimson;
}

.img-fluid {
    max-width: 150px;
    height: auto;
}

.navbar a.navbar-brand {
    color: white;
}

.navbar-nav a {
    margin: 30px;
    color: white;
}

.banner-home {
    background-image: url(imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hr {
    border: 1px solid #ffaf00; 
    opacity: 1;
}

.borda-senai {
    background-color: #a058ff;
    border:  1px solid #083224;
}

.banner-home .row {
    height: 768px;
}

.container {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.nav-link {
    font-size: 20px;
}

body {
    background-color: #080224;
}

h5 {
    font-family: 'Courier Prime', monospace;
    margin-top: 65px;
}

h4 {
    color: #F4B027;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    color: #F9003C;
    margin-top: 30px;
    font-size: 25px;
}

h2 {
    color: #F9003C;
    margin-top: 17px;
}

h1 {
    font-size: 81px;
}

.img-mouse {
    width: 80;
    height: 89px;
    margin-bottom: 165px;
    margin-top: 60px;
}

.secao-sobre {
    max-width: 527px;
    height: 428px;
}

.locais {
    color: white;
    background-image: url(imagem-fundo-info.jpg);
    min-height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 40px;
}

.locais .row {
    min-height: 240px;
}

.locais .box-main {
    font-size: 20px;
}
.imagem {
    background-image: url(imagem-fundo-ranking.jpg);
    height: 349px;
    margin-top: 40px;
}

.box-local {
    border: 2px #a058ff solid;
    color: #a058ff;
    font-family: 'Courier New', Courier, monospace;
}

.locais .box-local {
    height: 86px;
}

.box-local .text-center {
    margin-top: 25px;
    font-size: 23px;
}

.order-last {
    font-family: 'Courier New', Courier, monospace;
}

.col .font-courier {
    text-align: justify;
}

.linha {
    font-size: 19px;
    color: white;
}

.font-endereco {
    color: #F4B027;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.font-Endereco {
    margin-top: 30px;
    color: #F4B027;
}

footer {
    background: #DF093D;
    padding: 14px;
    text-align: center;
    margin-top: 30px;
}

footer p {
    color: white;
    font-size: 23px;
    word-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-top: 14px;
}

.borda-endereco {
    border: 2px#a058ff;
    color: #a058ff;
    font-family: 'Courier New', Courier, monospace;
}

.borda-endereco p {
    font-size: 25px;
}

.position-absolute {
    top: 0;
    right: 26px;
    margin-top: 20px;
}
